Options -MultiViews
RewriteEngine On
RewriteBase /its/

# Only rewrite if not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to index.php
RewriteRule ^ Backend/src/Public/index.php [L]