.homepage {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(20deg, #6366f1, #5b4cba);
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: white;
  color: #0073e6;
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.hero-btn:hover {
  background-color: #f0f0f0;
}

.courses-section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #efecec
}

.courses-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

body.dark-mode .homepage {
  background-color: #2d2d2d;
  color: #e0e0e0;
}

body.dark-mode .hero {
  background: linear-gradient(20deg, #6366f1, #323232);
  color: #ffffff;
}

body.dark-mode .hero h1,
body.dark-mode .hero p {
  color: #ffffff;
}

body.dark-mode .hero-btn {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode .hero-btn:hover {
  background-color: #444444;
}

body.dark-mode .courses-section {
  background-color: #3a3939;
  color: #ffffff;
}

body.dark-mode .courses-section h2 {
  color: #ffffff;
}
