@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  overflow-x: hidden; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
